@model Bank.Models.Compte

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Compte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intitule_compte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intitule_compte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_ouverture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_ouverture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.solde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.solde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero_compte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero_compte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
