@model IEnumerable<Bank.Models.Type>

@{
    ViewData["Title"] = "Index";
}

<head>
            <!-- CSS Files -->
    <link id="pagestyle" href="~/css/style.css?v=1" rel="stylesheet" asp-append-version="true"/>
</head>

<div class="row justify-content-center">
    <a asp-action="Create" class="btn btn-secondary" style="margin-top:100px;">Ajouter Type</a>
</div>
<div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
    <div class="card Application-list">
        <div class="card-header">
            <h5>listes des clients</h5>
        </div>
            <div class="card-block pb-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.nom_type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.solde_min)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.montant_max)
                            </th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nom_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.solde_min)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.montant_max)
                            </td>
                            <td>
                                <button class="btn btn-light"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |</button>
                                <button class="btn btn-info"><a asp-action="Details" asp-route-id="@item.Id">Details</a> |</button>
                                <button class="btn btn-danger"> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                            </td>
                        </tr>
                }
    </tbody>
</table>
</div>
</div>
</div>
